
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar css */
.navbar {
  background-color: #F9FBFF;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: #000000;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  word-break: keep-all;
}

.doctor {
  text-transform: inherit;
  background-color: #F6F6F6;
  font-weight: bold;
}
.doctor-active {
  border: 1px solid #6056D7;
  text-transform: inherit;
  background-color: #F6F6F6;
  font-weight: bold;
}
.log-btns {
  text-align: center;
  padding-top: 2rem;
}

.nav-menu {
  color: #000000;
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  color: #000000;
}

.nav-links {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.nav-links:hover {
  /* background-color: #1888ff; */
  background-color: #17202A;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}



/* Dropdown css */
.dropdown-menu {
  width: 13rem;
  position: absolute;
  top: 5rem;
  list-style-type: none;
  text-align: start;
}
.dropdown-menu li {
  background-color: #17202A;
  cursor: pointer;
}
.dropdown-menu li:hover {
  /* background: #5cabff; */
  background: #7b7d80;
}
.dropdown-menu.clicked {
  display: none;
}
.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  padding: 1rem
}

.landing {
  width: 100%;
  min-height: 100vh;
  background-color: #F9FBFF;
  margin-bottom: 5rem;
}

.chart {
  width: 100%;
  height: 25rem;
  margin: 15rem auto 0 3rem;

}
.icon {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  /* justify-content: center; */
  align-items: center;
}
.leftSide {
  padding-top: 15rem;
  font-weight: 700;
}

.bg-text {
  padding-top: 15rem;
  font-weight: bold;
  text-align: center;
  color: #000000
}
.bg-para {
  /* text-align: center; */
  padding-top: 1rem;
  color: #000000
}
.form {
  display: 'flex';
  flex-direction: 'row';
  margin: 2rem 4rem 0 4rem;
  /* width: '80%'; */
}
.search {
  background-color: #ffffff;
  padding: 10;
  height: '2.5rem';
  border-top-right-radius: '25%';
  border-bottom-right-radius: '25%';
}
.textfield {
  background-color: #ffffff!important;
}
.fa-search {
  height: 1.7rem;
  padding-top: .5rem;
}
.section-2 {
  width: 100%;
  height: 100vh;
  margin: 5rem auto;
}

.call, .message, .location {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.fa-phone, .fa-envelope, .fa-location {
  padding: .1rem .5rem 0 0;
}
.card {
  border-radius: 5%
}
.card-img {
  width: 100%;
  height: 15rem;
}
.desc {
  padding: 1rem 0
}
.fa-user {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}
.section-3 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('./assets/images/doctors.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 5rem;
}
.section-4 {
  margin-bottom: 5rem;
}
.footer {
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
}
.contact, .quick, .department, .group {
  color: white;
  padding-top: 10rem;
  position: relative;
}

.contact::after, .quick::after, .department::after, .group::after {
  content: '';
  width: 5rem;
  height: 1px;
  position: absolute;
  background-color: red;
  top: 12.5rem;
  left: 4rem;
}
.quick::after, .department::after {
  left: 6rem
}
.group::after {
  left: 6rem
}
.contact-one, .contact-two, .contact-three {
  display: flex;
  text-align: center;
  padding-top: 5rem;
}
.contact-two, .contact-three {
  padding-top: 2rem;
}
.social {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.dept-links {
  list-style-type: none;
  margin-top: 5rem;
  font-size: .9rem;
}
.dept-links li {
  text-decoration: none;
  padding-bottom: 1rem;
}
.modal-list {
  list-style-type: none;
}
.login {
  flex-grow: 1;
  background-color: #C4C4C41A;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.login-card {
  position: absolute;
  width: 40%;
  min-height: 60%;
  top: 10rem;
  bottom: 4rem;
  left: 30%;
  right: 30%;
  border-radius: 5%;
}
.form {
  margin: 5rem 0;
}
.field {
  /* margin-top: 3rem; */
  padding-bottom: 10rem;
  /* background-color: #f6f6f6; */
}
.login-btn {
  margin-top: 3rem;
  text-align: center;
} 
.try {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.btn-glow {
  border: 1px transparent;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: inherit;
  margin-left: 20px;
  -webkit-animation: glowing 1300ms infinite;
  -moz-animation: glowing 1300ms infinite;
  -o-animation: glowing 1300ms infinite;
  animation: glowing 1300ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: red;
    -webkit-box-shadow: 0 0 3px red;
  }
  50% {
    background-color: rgb(231, 61, 61);
    -webkit-box-shadow: 0 0 15px rgb(231, 61, 61);
  }
  100% {
    background-color: red;
    -webkit-box-shadow: 0 0 3px red;
  }
}
@keyframes glowing {
  0% {
    background-color: red;
    box-shadow: 0 0 3px red;
  }
  50% {
    background-color: rgb(231, 61, 61);
    box-shadow: 0 0 15px rgb(231, 61, 61);
  }
  100% {
    background-color: red;
    box-shadow: 0 0 3px red;
  }
}
.btn-glow:hover::before {
  filter: blur(20px); 
  opacity: 1;
}
.btn-glow:hover {
  animation: glow 1s ease-in infinite;
}
@keyframes glow {
  0% {
    background: red;
    box-shadow: 0 0 3px red;
  }
  50% {
    background: rgb(231, 61, 61);
    box-shadow: 0 0 3px rgb(231, 61, 61);
  }
  100% {
    background: red;
    box-shadow: 0 0 3px red;
  }
}
@media screen and (max-width: 900px) {
  .fa-caret-down {
    display: none;
  }

  .NavbarItems {
    position: relative;
  }

  .brand {
    /* margin-left: -17rem; */
    color: #000000
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #151B54;
    left: 0;
    top: 4rem;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    padding: 3rem 0;
  }
  .nav-links {
    color: #ffffff;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links:hover {
    background-color: #0041C2;
    border-radius: 0;
    margin: 0 20px 0 20px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .chart {
    width: 20rem;
    height: 15rem;
    margin-bottom: 3rem;
  }

  /* .bg-para {
    font-size: .7rem;
    text-align: center;
  } */

  .dropdown-menu li {
    background: #0041C2;
    cursor: pointer;
  }

  .form {
    display: 'flex';
    flex-direction: 'row';
    margin: 2rem 1rem 0 1rem;
    /* width: '80%'; */
  }

}


