
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar css */
.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.brand {
  color: #000000;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

/* .fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
} */

.nav-menu {
  color: #000000;
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  color: #000000;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #000000;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}



/* Dropdown css */
.dropdown-menu {
  width: 13rem;
  position: absolute;
  top: 5rem;
  list-style-type: none;
  text-align: start;
}
.dropdown-menu li {
  background: #1888ff;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background: #5cabff;
}
.dropdown-menu.clicked {
  display: none;
}
.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  padding: 1rem
}

.landing {
  width: 100%;
  min-height: 100vh;
  /* margin-top: 5rem; */
  background: linear-gradient(#F0F5FFB2, #0F4ABDB2), url('./assets/images/doctor.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

.chart {
  width: 35rem;
  height: 25rem;
  margin: 10rem auto 0 auto;
}
.bg-text {
  padding-top: 15rem;
  font-weight: bold;
  text-align: center;
  color: #000000
}
.bg-para {
  /* text-align: center; */
  padding-top: 1rem;
  color: #000000
}
.form {
  display: 'flex';
  flex-direction: 'row';
  margin: 2rem 4rem 0 4rem;
  /* width: '80%'; */
}
.search {
  background-color: #ffffff;
  padding: 10;
  height: '2.5rem';
  border-top-right-radius: '25%';
  border-bottom-right-radius: '25%';
}
.textfield {
  background-color: #ffffff!important;
}
.fa-search {
  height: 1.7rem;
  padding-top: .5rem;
}
.section-2 {
  width: 100%;
  height: 100vh;
  margin: 5rem auto;
}

.call, .message, .location {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.fa-phone, .fa-envelope, .fa-location {
  padding: .1rem .5rem 0 0;
}
.card {
  border-radius: 5%
}
.card-img {
  width: 100%;
  height: 15rem;
}
.desc {
  padding: 1rem 0
}
.fa-user {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}
.section-3 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('./assets/images/doctors.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section-4 {
  margin-top: 5rem;
}

@media screen and (max-width: 900px) {
  .fa-caret-down {
    display: none;
  }

  .NavbarItems {
    position: relative;
  }

  .brand {
    margin-left: -17rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #151B54;
    left: 0;
    top: 4rem;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    padding: 3rem 0;
  }
  .nav-links {
    color: #ffffff;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links:hover {
    background-color: #0041C2;
    border-radius: 0;
    margin: 0 20px 0 20px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .chart {
    width: 20rem;
    height: 15rem;
    margin-bottom: 3rem;
  }

  /* .bg-para {
    font-size: .7rem;
    text-align: center;
  } */

  .dropdown-menu li {
    background: #0041C2;
    cursor: pointer;
  }

  .form {
    display: 'flex';
    flex-direction: 'row';
    margin: 2rem 1rem 0 1rem;
    /* width: '80%'; */
  }

}


